$btn-border-radius: 25px;
$btn-border-width: 0px;

.roots {
    margin: 0 auto;
    margin-bottom: 1%;
}
#facebook {
    background-color: #1877f2;
}
#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: black;
}
#twitter {
    background-color: #1da1f2;
}
#github {
    background-color: #fafafa;
    color: #333;
}
#youtube {
    background-color: #ff0000;
}
#linkedin {
    background-color: #0077b5;
}
#pinterest {
    background-color: #e60023;
}
#tumblr {
    background-color: #35465c;
    display: flex;
    .icon {
        flex-grow: 1;
    }
}
#reddit {
    background-color: #ff4500;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";