.App {
  background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url('background.png');
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
#title {
  text-align: center;
  margin-top: 3%;
  font-family: "Roboto";
  text-decoration: underline;
  color: white;
}
#container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.roots {
  border-radius: 25px;
}